<div *ngIf="!noData" class="container">
  <h1>{{title}}</h1>
  <div class="flex">
    <app-legend text="Number of entries" [data]="numberOfParticipations"></app-legend>
    <app-legend text="Total number of medals" [data]="numberOfMedals"></app-legend>
    <app-legend text="Total number of athletes" [data]="numberOfAthletes"></app-legend>
  </div>
  <app-line-chart [multi]="selectedData"></app-line-chart>
  <button routerLink="/">Go back</button>
</div>
<div *ngIf="noData" class="noData">
  <h2>No data available</h2>
  <p>Sorry, we couldn't find any data.</p>
</div>