.legend-container {
  padding: 10px;
  border: 2px solid #00797c;
  border-radius: 10px;
  text-align: center;
  p{
    color: grey;
    font-size: 12px;
    margin: 0px;
  }
  strong{
    font-size: 12px;
  }
}